.title {
  font-family: "Shojumaru", cursive;
  font-weight: bold;
  font-size: 300%;
  flex-wrap: wrap;
}
.foot .title {
  font-family: "Shojumaru", cursive;
  font-weight: bold;
  font-size: 3rem;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  white-space: nowrap;

}

/* This code is just to style the inner div elements. */
.flex-container > div {
  width: 10em;
  text-align: center;
  line-height: 2em;
  font-size: 1.5em;
}

.text-muted {
  margin: 10px;
}
.mainContent,
.card-body {
  background-color: rgb(255, 253, 253);
}
.albumpy-5bg-light {
  background-color: #333333;
}
.card {
  padding: 5px;
  border-radius: 5px;
  background-color: black;
}

.mb-4 img {
  height: 400px;
  width: auto;
}

/* This is all for the Nav bar button */
.btn-group {
  display: flex;
  outline: none;
  cursor: pointer;
  min-width: 113px;
  padding: 10px;
  border-radius: 10px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
}

.navbar-toggler {
  border-radius: 5px;
  padding: .5em .5em;
  font-size: 22px;
  text-decoration: none;
  margin: 40px;
  position: relative;
  display: inline-block;
}
 
.navbar-toggler-icon {
  background-color: rgb(69, 69, 69);
  border-radius: 2px;   
}

.navbar-toggler:hover {
  transform: scale(1.5);
  transition: all .2s ease-in-out;
  border-radius: 10px;
  border: 10px;
 }

/* Last rule for navbar button */